<div class= 'container'>
  <h1> Edit Task</h1>

  <ol class='breadcrumb'>
    <li><%= link_to 'Projects', project_path %></li>
    <li><%= link_to @project.name, project_path(@project) %></li>
    <li><%= link_to @task.description, project_task_path(@project, @task) %></li>
    <li class="active"> Edit Task </li>
  </ol>

  <%= render partial: "form" %>

</div>
