<div class="container">
 <div class="page-header">
   <h1> Tasks </h1>
     <%= link_to 'New Task', new_task_path  %>
   </div>

  <table class= "table">
    <thead>
      <tr>
       <th> Description </th>
       <% @tasks.each do |tasks| %>
      </tr>
    </thead>
  </table>

    <% end %>
</div>
