<h1>
    <%= @task.description %>
</h1>

<%= link_to "Edit", edit_task_path, class: "btn btn-info margin-top-button" %>

<%= link_to "Tasks", tasks_path %>

<li
  <div class="active">
    <%= @task.description %>
</li>
