<div class='container'>

  <div class="pull-right">
    <%= link_to "Edit", edit_task_path, class: "btn btn-info" %>
  </div>

  <h2><%= @task.description %></h2>
  <hr></hr>
  <ol class="breadcrumb">
    <li>
      <%= link_to "Tasks", tasks_path %>
    </li>
  </ol>

</div>
