<div class='container'>
  <h1 class='page-header'> Users
    <div class="pull-right">
      <%= link_to 'New User', new_user_path, class: "btn btn-info"  %>
    </div>
  </h1>

  <table class= "table">
    <thead>
      <tr>
       <th> Name </th>
       <th> Email </th>
       <th></th>
      </tr>
    </thead>

    <tbody>
    <% @users.each do |users| %>
      <tr>
        <td>
          <%= link_to users.first_name+" "+users.last_name, user_path(users) %>
        </td>
        <%  if users == current_user || (users.projects & current_user.projects).any? %>
          <td><%= mail_to users.email %></td>
        <% else %>
          <td></td>
        <% end %>
        <td>
          <div class= "pull-right">
            <% if users == current_user %>
              <%= link_to "Edit", edit_user_path(users) %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>

    </tbody>
  </table>

</div>
