<div class='container'>

    <div class='row'>
      <%= link_to "Edit", edit_project_path, class: 'btn btn-info pull-right margin-top-button' %>
      <h1>
        <%= @project.name %>
      </h1>
    </div>

  <hr></hr>
  <ol class="breadcrumb">
    <li>
      <%= link_to "Projects", projects_path %>
    </li>
  </ol>
</div>
